<div class="todo-list">
  @if (todoItems?.length) {
    @for (todo of todoItems; track todo.id) {
      <app-todo-item
        [todo]="todo"
        [registeringProgression]="registeringMap[todo.id]"
        [updatingDescription]="updatingMap[todo.id]"
        [deleting]="deletingMap[todo.id]"
        [refreshing]="refreshingMap[todo.id]"
        (addProgression)="addProgression.emit(todo)"
        (editDescription)="editDescription.emit(todo)"
        (delete)="delete.emit(todo)">
      </app-todo-item>
    }
  } @else {
    <div class="empty">No hay tareas registradas</div>
  }
</div>

