<div class="todo-list">
  <ng-container *ngIf="todoItems?.length; else emptyState">
    <app-todo-item
      *ngFor="let todo of todoItems"
      [todo]="todo"
      [registeringProgression]="registeringMap[todo.id]"
      [updatingDescription]="updatingMap[todo.id]"
      [deleting]="deletingMap[todo.id]"
      [refreshing]="refreshingMap[todo.id]"
      (addProgression)="addProgression.emit(todo)"
      (editDescription)="editDescription.emit(todo)"
      (delete)="delete.emit(todo)">
    </app-todo-item>
  </ng-container>
  <ng-template #emptyState>
    <div class="empty">No hay tareas registradas</div>
  </ng-template>
</div>

