@use '@angular/material' as mat;


@include mat.core();
$typo: mat.define-typography-config(
  $font-family: 'Poppins, "Helvetica Neue", sans-serif'
);

@include mat.core($typo);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppin, "Helvetica Neue", sans-serif;
}

p {
  font-size: 14px;
  color: rgba(21, 21, 21, 0.96);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.mat-mdc-dialog-surface,
.mat-dialog-container {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
