<div class="page-header">
  <div>
    <h1>Todo Items</h1>
    <p class="subtitle">Gestiona tus tareas y su progreso.</p>
  </div>
  <button mat-flat-button color="primary" (click)="openCreateDialog()" [disabled]="creatingTodo">
    <mat-icon>add</mat-icon>
    Nuevo Todo
    @if (creatingTodo){
      <mat-progress-spinner diameter="20" strokeWidth="3"
                            mode="indeterminate"></mat-progress-spinner>
    }

  </button>
</div>

<div class="list-container">
  <div class="list-header">
    <div class="title">Listado</div>

    @if (loadingList) {
      <div class="spinner">
        <mat-progress-spinner diameter="24" strokeWidth="4" mode="indeterminate"></mat-progress-spinner>
      </div>
    }

  </div>
  <app-todo-item-list
    [todoItems]="todoItems"
    [registeringMap]="registeringMap"
    [updatingMap]="updatingMap"
    [deletingMap]="deletingMap"
    [refreshingMap]="refreshingMap"
    (addProgression)="onRegisterProgression($event)"
    (editDescription)="onEditDescription($event)"
    (delete)="onDelete($event)">
  </app-todo-item-list>
</div>

